@font-face {
    font-family: "Minecraft";
    src: url("../tff/minecraft.ttf");
}

body {
    font-family: Minecraft;
    font-size: 24px;
}

#app, .container {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
}

.block {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.left {
    width: 30%;
}
.center {
    width: 40%;
}
.right {
    width: 30%;
}

.prestige-button {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.prestige-button > input {
    margin-bottom: 10px;
}

input {
    font-family: Minecraft;
    font-size: 24px;
}

.upgrade-view {
    height: 80%;
}

[v-cloak] { display: none }
